[submodule "monero"]
	path = monero
	url = https://github.com/jeffro256/monero.git
	branch = clsag_benchmark
[submodule "monero-oxide"]
	path = monero-oxide
	url = https://github.com/kayabaNerve/monero-oxide
