[submodule "monero"]
	path = monero
	url = https://github.com/jeffro256/monero.git
	branch = clsag_benchmark
[submodule "fcmp-plus-plus"]
	path = fcmp-plus-plus
	url = https://github.com/jeffro256/fcmp-plus-plus
	branch = increase_max_inputs
